/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varta', sans-serif;
}
/* Home Page CSS */


/* Login Page CSS */
/* Starting of CSS Container Class */
.container-fluid{
    background: #19123b; 
    /* background: white; */
}
.container-sm{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

/* Ending of CSS Of Conatiner classes */

/* Starting of CSS of Form */
.form{
    width: 100%;
    max-width: 500px;
    position: relative;
    padding: 8px 40px; 
    /* background: rgba(0  , 0, 0, 0.7); */
    background: #212022;
    color: white;
    /* color: black; */
    border-top: 5px solid rgb(176, 106, 252);
    border-radius: 10px;
    box-shadow: 5px 5px 2px rgba(0,0, 0, 0.7);
}
.header{
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
}
.header img{
    width: 110px;
}
.form h2{
    text-align: center;
    font-size: 2.75rem;
    margin: 10px 0px;
    color: #a6ff18;
    letter-spacing: 2px;
}
.input-group{
    position: relative;
}
.input-group input{
    width: 100%;
    padding: 7px;
    font-size: 1rem;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    background: transparent;
    margin-bottom: 40px;
    color: white;
    letter-spacing: 1.25px;
}
.input-group input:focus{
    border-bottom: 2px solid #48ff24;
}
.input-group label{
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px 7px;
    font-size: 1rem;   
    transition: 0.3s ease-in-out;
    /* color: black; */
}
.input-group input:focus + label, .input-group input:valid + label{
    transform: translateY(-24px);
    font-size: 1rem;
}

#useremail:focus + label, .input-group input:valid + label{
    transform: translateY(-24px);
    font-size: 1rem;
}

.input-group a{
    color: red;
}
.input-group a:hover{
    color: yellow;
}
#userpassword{
    user-select: none;
}
/* Ending Of CSS of Form */

/* Starting of CSS of Buttons */
.btns{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.btns a, .btns input{
    font-size: 1.75rem;
    border: none;
    padding: .5rem .25rem;
    margin: 8px 0px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
/* Ending of CSS of Buttons */

/* Media Queries */
@media only screen and (max-width: 576px){
    .form{
        margin-top: 105px;
        margin-bottom: 20px;
    }
    .form img{
        width: 75px;
    }
    .input-group input{
        font-size: 0.75rem;
    }

    .btns input{
        padding: .25rem .05rem;
    }
}